<section class="center-vertical">
	<h1><%= current_user.name %>の投稿</h1>
    <% @posts.each do |post| %>
      <div class="post center-vertical">
        <img src="<%= post.image_url %>" alt="アルバム写真">
        <p><%= post.artist %></p>
        <p><%= post.album %></p>
        <p><%= post.track %></p>
        <p><a href="<%= post.music_url %>">サンプル</a></p>
        <p>コメント：<%= CGI.escapeHTML(post.comment) %></p>
        <a href="/posts/<%= post.id %>/delete">削除</a>
        <a href="/posts/<%= post.id %>/edit">編集</a>
      </div>
    <% end %>
</section>